.reviews-block {
    width: 100%;
    padding: 2.95rem 7.8125% 15rem 7.03125%;
    position: relative;
    margin-bottom: 3.95rem;
    overflow-x: hidden;
    overflow-y: hidden;

    @media (max-width: 1024px) {
        padding: 2.95rem 7.8125% 15rem;
    }

    @media (max-width: 768px) {
        padding-bottom: 7.5rem;
    }

    .title {
        font-size: 3.8rem;
        font-weight: 600;
        line-height: 4.461rem;
        color: var(--dark-color);
        margin-bottom: 9.8rem;

        @media (max-width: 1024px) {
            font-size: 2.5rem;
            line-height: 3rem;
        }

        @media (max-width: 768px) {
            font-size: 1.8rem;
            line-height: 2.2rem;
            margin-bottom: 5rem;
        }
    }

    .reviews-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 8%;
        padding-left: 5%;
        overflow-x: visible;

        @media (max-width: 1024px) {
            padding-left: 0;
        }

        .reviews-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 8%;

            .item {
                width: calc(33.33% - 8%);
                border: 1px solid var(--dark-color);
                border-radius: 7.96px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1.4rem 3%;
                gap: 16px;

                @media (max-width: 768px) {
                    padding: 1.5rem 7% 3.5rem;
                }

                &.animate {
                    animation: zoomInOut 1s forwards;
                }

                @keyframes zoomInOut {
                    0% {
                        opacity: 1;
                        transform: scale(1);
                    }

                    50% {
                        opacity: 1;
                        transform: scale(1.02);
                    }

                    100% {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

                @media (max-width: 1280px) {
                    width: calc(50% - 8%);
                }

                @media (max-width: 768px) {
                    justify-content: center;
                    width: 80%;
                    transform: translateX(10%);
                }

                svg {
                    width: 1.5rem;
                    height: auto;
                }

                .image-container {
                    width: 100%;
                    height: 5rem;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;

                    .image {
                        width: auto;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .text {
                    font-size: 0.9285rem;
                    font-weight: 500;
                    line-height: 1.09rem;
                    color: var(--dark-color);
                    height: 12.25rem;
                    margin-bottom: 1.5rem;

                    @media (max-width: 768px) {
                        height: auto;
                    }
                }

                .learn-more {
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: var(--secondary-color);
                    text-decoration: underline;
                    border: none;
                    background: none;
                    cursor: pointer;
                    transition:
                        color 0.3s ease,
                        transform 0.3s ease;

                    &:hover {
                        color: var(--primary-color);
                        transform: scale(1.05);
                    }
                }
            }
        }

        .next-button {
            cursor: pointer;
            height: 3rem;
            width: 3rem;

            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    .overlay {
        position: fixed;
        overflow-y: scroll;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        flex-wrap: nowrap;

        .modal {
            padding: 200px 0 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 500px;

            .image-container {
                position: relative;
                width: 100%;

                .review-document {
                    width: 100%;
                    object-fit: contain;
                }

                .close-button {
                    position: absolute;
                    top: 0px;
                    right: -10%;
                    cursor: pointer;
                    width: 1.2rem;
                    height: 1.2rem;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }
    }

    .top-cube {
        width: 14%;
        height: auto;
        position: absolute;
        z-index: -1;
        animation: topMove 20s infinite linear;

        @keyframes topMove {
            0%,
            100% {
                right: 8%;
                top: 4%;
            }

            35% {
                right: 17%;
                top: 15%;
            }

            65% {
                right: 22%;
                top: 8%;
            }
        }
    }

    .bottom-cube {
        width: 14%;
        height: auto;
        position: absolute;
        z-index: -1;
        animation: bottomMove 20s infinite linear;

        @media (max-width: 768px) {
            transform: translateY(-20px);
        }

        @keyframes bottomMove {
            0%,
            100% {
                left: 1%;
                bottom: -2%;
            }

            35% {
                left: 10%;
                bottom: 9%;
            }

            65% {
                left: 15%;
                bottom: 2%;
            }
        }
    }
}
