.reviews-block {
    width: 100%;
    padding: 59px 7.8125% 270px 7.03125%;
    position: relative;
    margin-bottom: 79px;

    @media (max-width: 768px) {
        padding-bottom: 60px;
    }

    .title {
        font-size: 3.8rem;
        font-weight: 600;
        line-height: 4.461rem;
        color: var(--dark-color);
        margin-bottom: 196px;

        @media (max-width: 1024px) {
            font-size: 2.5rem;
            line-height: 3rem;
        }

        @media (max-width: 768px) {
            margin-bottom: 60px;
        }
    }

    .reviews-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 8%;
        padding-left: 5%;

        .item {
            width: calc(33.33% - 8%);
            border: 1px solid var(--dark-color);
            border-radius: 7.96px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 28px 3%;
            gap: 16px;
            cursor: pointer;

            @media (max-width: 1280px) {
                width: calc(50% - 8%);
            }

            @media (max-width: 768px) {
                width: 100%;
            }

            .image-container {
                width: 100%;
                height: 100px;
                overflow: hidden;
                display: flex;
                justify-content: center;

                .image {
                    width: auto;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .text {
                font-size: 0.9285rem;
                font-weight: 500;
                line-height: 1.09rem;
                color: var(--dark-color);
                min-height: 12.25rem;
            }
        }

        .next-button {
            cursor: pointer;
            height: 3rem;
            width: 3rem;
        }
    }

    .overlay {
        position: fixed;
        overflow-y: scroll;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        flex-wrap: nowrap;

        .modal {
            margin: 100px;
            padding: 130px;

            .image-container {
                position: relative;

                .review-document {
                    width: auto;
                    height: calc(100vh - 260px);
                    object-fit: contain;

                    @media (max-width: 768px) {
                        height: calc(100vh - 500px);
                    }

                    @media (max-width: 480px) {
                        height: calc(100vh - 750px);
                    }
                }

                .close-button {
                    position: absolute;
                    top: 0px;
                    right: -10%;
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .top-cube {
        width: 14%;
        height: auto;
        position: absolute;
        top: 12.25%;
        right: 17%;
    }

    .bottom-cube {
        width: 14%;
        height: auto;
        position: absolute;
        bottom: -1%;
        left: 1%;
        z-index: -1;
    }
}
