.content-block {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    margin-bottom: 52px;

    .title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 2.348rem;
        border-radius: 8px;
        background-color: var(--primary-color);
        padding: 33.5px 2%;
        display: inline-block;
        margin-bottom: 0;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        padding: 0 2.5% 69px;

        .item {
            color: var(--tertiary-color);
            position: relative;
            box-sizing: border-box;
            margin-top: 56px;
            margin-bottom: 27px;

            &:nth-child(n)::after {
                content: "";
                position: absolute;
                bottom: -27px;
                left: 0;
                width: calc(100%);
                border-bottom: 1px solid var(--secondary-color);
                display: block;
                z-index: 1;
            }

            &:nth-child(even) {
                flex: 0 0 calc(65% - 7%);
            }

            &:nth-child(odd) {
                flex: 0 0 calc(40% - 7%);
                margin-right: 7%;

                &::after {
                    width: calc(200%);
                }
            }

            &:nth-last-child(-n + 2)::after {
                display: none;
            }

            &:last-child::after {
                display: none;
            }

            .item-title {
                box-sizing: border-box;
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.348rem;
                width: 80%;
                min-height: calc(2 * 2.348rem + 30px);
            }

            .item-text {
                width: 100%;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.8785rem;
            }
        }
    }
}
