.main-block {
    padding: 57px 1.5% 158px 7%;
    width: 100%;

    .main-content {
        width: 100%;
        margin-top: 108px;
        position: relative;

        h1 {
            width: 70%;
            font-size: 4.8rem;
            font-weight: 600;
            line-height: 5.6rem;
            color: var(--tertiary-color);
        }

        p {
            width: 55%;
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.5rem;
            color: var(--tertiary-color);
            margin-top: 38.79px;
            margin-bottom: 114px;
        }

        .application-button {
            height: 90px !important;
            width: 20% !important;
            font-size: 1.4rem !important;
            line-height: 1.6685rem !important;
        }

        .phone-image {
            position: absolute;
            right: 5%;
            top: -13%;
            width: 31rem;
            height: auto;
        }
    }
}
