.connection-block {
    background-color: var(--quaternary-color);
    width: 100%;
    padding: 94px 7.03125% 108px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title {
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 4.461rem;
        color: var(--tertiary-color);
        width: 50%;
    }

    .application-button {
        border: 4px solid var(--tertiary-color) !important;
        color: var(--tertiary-color) !important;
        font-size: 1.7525rem !important;
        padding: 2% 3% !important;
        border-radius: 71.57px !important;
        line-height: 2.0575rem;
        background-color: transparent !important;
        width: 28.5% !important;
    }
}
