.rounded-button {
    box-sizing: border-box;
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-weight: 600;
    font-size: 0.955rem;
    line-height: 1.121rem;
    display: flex;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 66.32px;
    padding: 1.1% 1.2%;
    border: none;
    text-wrap: nowrap;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}
