.scrum-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
    min-width: 769px;

    .sprint-container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .sprint {
            width: 30%;
            padding-bottom: 0;
            color: var(--light-color);
            margin-left: 3%;

            .title {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
                text-align: center;
                color: var(--light-color);
            }

            .words-block {
                display: flex;
                flex-direction: column;
                padding-left: 5%;
                padding-bottom: 2rem;
                border-left: 2px solid var(--primary-color);

                .word {
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: 2vh;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .horizontal-line {
        position: absolute;
        left: 0;
        right: 0;
        height: 3rem;
        width: 100%;
        background: var(--primary-color);
        border-radius: 10px;
        border: none;
        display: flex;
    }

    .arrow-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 3.5% 0 11.5%;

        .arrow-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 20%;
            height: 100%;

            .arrow-title {
                position: absolute;
                top: 50%;
                right: 100%;
                transform: translateY(-58%);
                font-size: 1rem;
                font-weight: 500;
                color: var(--light-color);
            }

            .arrow {
                height: 100%;
                width: auto;
                color: var(--dark-color);
                margin-left: 140%;

                path {
                    fill: var(--light-color);
                }
            }
        }
    }
}
