.cooperation-block {
    width: 100%;
    padding: 94px 7.39583% 105px;

    .title {
        font-size: 3.8rem;
        font-weight: 600;
        line-height: 4.461rem;
        color: var(--tertiary-color);
        margin-bottom: 91px;
    }
}
