.cooperation-block {
    width: 100%;
    padding: 94px 7.39583% 105px;
    overflow-x: hidden;
    overflow-y: hidden;

    @media (max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .title {
        font-size: 3.8rem;
        font-weight: 600;
        line-height: 4.461rem;
        color: var(--tertiary-color);
        margin-bottom: 91px;

        @media (max-width: 1024px) {
            font-size: 2.5rem;
            line-height: 3rem;
            margin-bottom: 40px;
        }

        @media (max-width: 280px) {
            font-size: 2.4rem;
        }
    }
}
