@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #6eec4e;
    --secondary-color: #31aa12;
    --tertiary-color: #1a1a1a;

    --dark-color: #000000;
    --light-color: #ffffff;
}

* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

html {
    font-size: 20px;

    @media (max-width: 1600px) {
        font-size: 18px;
    }

    @media (max-width: 1439px) {
        font-size: 16px;
    }
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
